:root {
  --white-color: #ffffffcc;
  --blue-color: #0366d6;
  --grey-color: #777;
}

[data-pagination],
[data-pagination] *,
[data-pagination] *:before,
[data-pagination] *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
[data-pagination] {
  line-height: 1;
  font-size: 8pt;
  font-weight: 400;
  font-family: "Open Sans", "Source Sans Pro", Roboto, "HelveticaNeue-Light",
    "Helvetica Neue Light", "Helvetica Neue", "Myriad Pro", "Segoe UI", Myriad,
    Helvetica, "Lucida Grande", "DejaVu Sans Condensed", "Liberation Sans",
    "Nimbus Sans L", Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  transition: font-size 0.2s ease-in-out;
}
[data-pagination] ul {
  list-style-type: none;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: 0.5em;
}
[data-pagination] ul li {
  display: inline-block;
  font-size: 100%;
  width: auto;
  border-radius: 3px;
  border: 1px solid var(--blue-color);
  margin: 0.125rem;
  padding: 0.5rem 0.25rem;
  cursor: pointer;
}
[data-pagination] > a {
  font-size: 140%;
}
[data-pagination] a {
  color: var(--white-color);
  font-size: 100%;
  padding: 0.25rem;
}
[data-pagination] li.previous a,
[data-pagination] li.next a,
[data-pagination] li.break a {
  border-color: transparent;
}
[data-pagination] li.active a,
[data-pagination] ul li.active {
  border-color: transparent;
  color: var(--white-color);  
  background-color: var(--blue-color); 
}
[data-pagination] a:focus,
[data-pagination] a:hover {
  color: var(--blue-color);
}
[data-pagination] li.current {
  background: rgba(0, 0, 0, 0.1);
}
/* Disabled & Hidden Styles */
[data-pagination] .disabled,
[data-pagination] [hidden],
[data-pagination] [disabled] {
  opacity: 0.5;
  pointer-events: none;
}
@media screen and (min-width: 375px) {
  [data-pagination] {
    font-size: 12pt;
  }
}
@media screen and (min-width: 575px) {
  [data-pagination] {
    font-size: 14pt;
  }
}
@media screen and (min-width: 768px) {
  [data-pagination] {
    font-size: 16pt;
  }
}